body {
  background-color: white;
}
.Title {
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.blogpost {
  background-color: white;
  border: 5px solid black;
  height: 700px;
  width: 600px;
  position: relative;
  margin-top: 200px;
  margin: 3px auto;
}
.header1 {
  text-align: center;
  border: 3px solid blue;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Architects Daughter", cursive;
}
.text1 {
  text-align: center;
  position: relative;
  margin: 30%;
  font-family: "Architects Daughter", cursive;
}
.blogpost2 {
  background-color: grey;
  border: 5px solid black;
  height: 1000px;
  width: 1500px;
  position: relative;
  margin-top: 200px;
  margin: 3px auto;
}
.header2 {
  text-align: center;
  border: 3px solid green;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Style Script", cursive;
}
.text2 {
  text-align: center;
  position: relative;
  margin-top: 10%;
  font-family: "Style Script", cursive;
}
.blogpost3 {
  background-color: lightblue;
  border: 5px solid black;
  height: 1000px;
  width: 1500px;
  position: relative;
  margin-top: 200px;
  margin: 3px auto;
}
.header3 {
  text-align: center;
  border: 3px solid red;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Allan", cursive;
}
.text3 {
  text-align: center;
  position: relative;
  margin-top: 10%;
  font-family: "Allan", cursive;
}
.link1 {
  text-align: center;
  margin: -20%;
  font-family: "Architects Daughter", cursive;
}
.image1 {
  text-align: center;
  margin: 30%;
  right: 50%;
}
.link2 {
  text-align: center;
  font-family: "Style Script", cursive;
}
.image2 {
  text-align: center;
}
.link3 {
  text-align: center;
  font-family: "Allan", cursive;
}
.image3 {
  text-align: center;
}
