body {
  background-color: white;
}
.blogpost {
  background-color: white;
  border: 5px solid red;
  height: 500px;
  width: 500px;
  position: relative;
  margin-top: 200px;
  margin: 3px auto;
}
.header1 {
  text-align: center;
  border: 3px solid blue;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text1 {
  text-align: center;
  border: 5px white;
  position: relative;
  margin: 30%;
}
.blogpost2 {
  background-color: grey;
  border: 5px solid white;
  height: 500px;
  width: 500px;
  position: relative;
  margin-top: 200px;
  margin: 3px auto;
}
.header2 {
  text-align: center;
  border: 3px solid green;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text2 {
  text-align: center;
  border: 3px green;
  position: relative;
  margin: -20%;
}
.{
  background-color: grey;
  border: black;
  height: 500px;
  width: 500px;
  position: relative;
  margin-top: 200px;
  margin: 3px auto;